h1, p {
  font-family: Lato;
}
.modal.custom .modal-dialog {
  width:20%;
  position:fixed;
  bottom:0;
  right:0;
  margin:0;
}

.callout {
      position: fixed;
      bottom: 35px;
      right: 20px;
      margin-left: 20px;
      max-width: 300px;
   }
   .calloutHeading {
      padding: 25px 15px;
      background: rgb(68, 93, 235);
      font-size: 30px;
      color: white;
   }
   .calloutMessage {
      padding: 15px;
      background-color: #ccc;
      color: black
   }
   .close {
      position: absolute;
      top: 5px;
      right: 15px;
      color: white;
      font-size: 30px;
      cursor: pointer;
   }
   .close:hover {
      color: lightgrey;
   }